<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1">
            <thead>
                <tr>
                    <th> CONTAINER ID  </th>
                    <th> IMAGE </th>
                    <th> COMMAND </th>
                    <th> CREATED </th>
                    <th> STATUS</th>
                    <th> PORTS </th>
                    <th> NAMES </th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                <tr>
                    

                </tr>
                {% endfor %}
            </tbody>
        </table>

</body>
</html>
