{% extends "base.html" %}
{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th> CONTAINER ID  </th>
                <th> IMAGE </th>
                <th> COMMAND </th>
                <th> CREATED </th>
                <th> STATUS</th>
                <th> PORTS </th>
                <th> NAMES </th>
            </tr>
        </thead>
        <tbody>
            {% for container in containers %}
            <tr>
                <td>{{ container.id }}</td>
                <td>{{ container.image.attrs.RepoTags}}</td>
                <td>{{ container.attrs.Command }}</td>
                <td>{{ container.attrs.Created }}</td>
                <td>{{ container.status }}</td>
                <td>{{ container.ports }}</td>
                <td>{{ container.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
