<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
         <table border="1">
            <thead>
                <tr>
                    <td> REPOSITORY  </td>
                    <td> TAG </td>
                    <td> IMAGE ID </td>
                    <td> CREATED </td>
                    <td> SIZE </td>
                </tr>
            </thead>
              <tbody>
                {% for image in images %}
                <tr>
                    <td>{{ image.repository }}</td>
                    <td>{{ image.tag }}</td>
                    <td>{{ image.digest }}</td>
                    <td>{{ image.created }}</td>
                    <td>{{ image.size }}</td>
                </tr>
                {% endfor %}
            </tbody>
         </table>


</body>
</html>

