{% extends "base.html" %}
{% block content %}
    <table border="1">
         <thead>
                <tr>
                    <td> DRIVER  </td>
                    <td> VOLUME NAME </td>

                </tr>
         </thead>
        <tbody>
            {% for volume in volumes %}
                <tr>
                    <td>{{ volume.driver }}</td>
                    <td>{{ volume.attrs.labels }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

