{% extends "base.html" %}
{% block content %}
    <div class="search">
        <form action="{% url 'dockerSite:search_image_docker_hub' %}" method="post">
            {% csrf_token %}
            <input type="search" name="search" id="search_input" placeholder="search docker hub image hier.">
            <input type="submit" value="search">
        </form>
    </div>
    <div class="result">
        <table border="1">
            <thead>
            <tr>
                <th> IMAGE ID </th>
                <th> REPOSITORY </th>
                <th> CREATED </th>
                <th> container </th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.name }}</td>
                    <td> {{ image.created_at }} </td>
                    <td> 
                        <form method="post" action="">
                            <input type="submit" value="Create">
                        </form>
                    </td>
                </tr>
            {% endfor %}ni
            </tbody>
        </table>
    </div>
{% endblock %}
